<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <title>TinyApp</title>
</head>
<body style="font-size:20px; padding:50px;">
    <h1>TinyApp</h1>
    <% if(!user_id){ %>
      <form action="/login" method="GET" class="form-inline">
        <button class="btn btn-primary">Login</button>
      </form>
      <form action="/register" method="GET" class="form-inline">
        <button class="btn btn-warning">Register</button>
      </form>
    <% } else { %>
      <p>Logged in as <%= user_id %></p>
      <form lass="form-inline" action="/logout" method="POST">
        <button type="submit" class="btn btn-warning">Logout</button>
      </form>
     <% } %> 
      <!-- <% if(!user_id){ %>
      <div class="container" class="float-right">
        <form class="form-inline" action="/login" method="POST">
          <label for="username">UserID: </label>
          <input type="text" name="user_id" class="form-control" id="user_id" placeholder="UserId">
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    <% } else {%>
          <p>Logged in as <%= user_id %></p>
          <form lass="form-inline" action="/logout" method="POST">
            <button type="submit" class="btn btn-warning">Logout</button>
          </form>
    <% } %>   -->
    </div>
