
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

  <title>TinyApp</title>
</head>

<body class="body"style="font-size:20px; padding:50px;">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">TinyApp</a>
      <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> -->
        <div class="navbar-nav ml-auto">
          <% if(!user_id){ %>
            <div class="btn-group" role="group" aria-label="Basic example">
              <a class="nav-item nav-link active" href="/login"><button class="btn btn-sm btn-outline-primary">Login</button> <span class="sr-only">(current)</span></a>
            </div>
            <div class="btn-group" role="group" aria-label="Basic example">
                <a class="nav-item nav-link" href="/register"><button class="btn btn-sm btn-outline-warning">Register</button></a>
            </div>
            
            <% } else { %>
              <a class="nav-item nav-link" href="/logout"><button type="submit" class="btn btn-outline-warning">Logout</button></a>
              <span class="navbar-text">Logged in as <%= users[user_id].email %></span>
              <% } %> 
            </div>
        </nav>


   

        


        




        


      <!-- <% if(!user_id){ %>
      <div class="container" class="float-right">
        <form class="form-inline" action="/login" method="POST">
          <label for="user_id">UserID: </label>
          <input type="text" name="user_id" class="form-control" id="user_id" placeholder="UserId">
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    <% } else {%>
          <p>Logged in as <%= user_id %></p>
          <form lass="form-inline" action="/logout" method="POST">
            <button type="submit" class="btn btn-warning">Logout</button>
          </form>
    <% } %>   -->
    </div>
