<% include partials/_headers %>

<section class="hero">
        <div class="background-image" background-image= "https://images.unsplash.com/photo-1526374965328-7f61d4dc18c5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80">
        <div class="hero-content-area">
          <h1>Welcome!</h1>
          <h3>Convert your lengthy URLs into short and snappy ones</h3>
          <a href="/urls" class="btn">Convert URL Now</a>
        </div>
</section>