<% include partials/_headers %>

<div class="container d-flex justify-content-center ">
    <div class="row">
        <span class="border border-primary">
          <div class="col-lg-12">
            <div id="content" class="text-center">
              <h1 class="text-center">Welcome!</h1>
              <h3 class="text-center">Please <a href="/login">log in</a> to convert URLs</h3>
              <hr>
              <p class="text-center"><button class="btn-default btn-lg"><a href="/login">Convert URL Now</a> </button></p>
            </div>
          </div>
        </span>
    </div>
  </div>