<!DOCTYPE html>
<% include partials/_headers %>
    <div class="text-center">
        <a  href="/urls/new">Create New TinyURL</a>
    </div>
    <hr>
    <% for(var url in urlDatabase){ %>
        <% if(urlDatabase[url].userID === user_id) {%>
            <%= url %> <i class="fas fa-arrow-right"></i> <%= urlDatabase[url].longURL %> 
                <div class="btn-group">
                    <button class="btn btn-sm btn-warning"><a href="/urls/<%=url%>">Edit</a></button>
                </div>
                <div class="btn-group">
                    <form class="form-inline" method="POST" action="/urls/<%= url%>/delete">
                        <button class="btn btn-sm btn-danger">Delete <i class="far fa-trash-alt"></i></button>
                    </form>
                </div>
                <p></p>
        <% } %>
    <% }%>
</body>
</html>