<% include partials/_headers %>
<body style="font-size:20px; padding:50px;">
    <h1>TinyApp</h1>
    <a href="#">Create New TinyURL</a>
    <% for(var url in urlDatabase){%>
        <ul>
            <li><%= urlDatabase[url] %></li>
        </ul>
    <% }%>
</body>
</html>