<% include partials/_headers %>

<h1>Login to TinyApp</h1>
<body style="font-size:20px; padding:50px;">

<form action="/login" method="POST" class="form-inline">
        <div class="form-group mb-2">
          <label for="email" class="sr-only">Email: </label>
          <input type="email" name="email" class="form-control" class="form-inline" placeholder="Your email address">
        </div>
        <div class="form-group mx-sm-3 mb-2">
          <label for="password" class="sr-only">Password: </label>
          <input type="password" class="form-control" name="password" placeholder="Password">
        </div>
        <button class="btn btn-outline-success">Login</button>
</form>
</body>