<% include partials/_headers %>

    <a href="/urls/new">Create New TinyURL</a>
    <% for(var url in urlDatabase){ %>
        <% if(urlDatabase[url].userID === user_id) {%>
        <ul>
            <li><%= url %> <i class="fas fa-arrow-right"></i> <%= urlDatabase[url].longURL %> 
                <button class="btn btn-sm btn-warning"><a href="/urls/<%=url%>">Edit</a></button>
                <form method="POST" action="/urls/<%= url%>/delete">
                    <button class="btn btn-sm btn-danger">Delete <i class="far fa-trash-alt"></i></button>
                </form>
            </li>
        </ul>
        <% } %>
    <% }%>
</body>
</html>